.box {

        background-color:#e0e0e0;
        color:#9e9e9e;
        font-weight:bold;
        margin:120px auto;
        height:400px;
        width: 400px;
		font-family: 'Roboto', sans-serif;

    }
img {
    border-radius: 50%;
}
a:link {
	color:#9e9e9e;
}
a:visited {
	color:#9e9e9e;
}
.link {
  text-decoration: none;
}
.link a {

}
.projectstext {
  text-align: right;
  text-decoration: none;
}
.footer{
       position: fixed;
       text-align: center;
       bottom: 0px;
       width: 100%;
       font-family: 'Open Sans', sans-serif;
   }
