/* #region Animationen */
@keyframes entryTop {
  from {
    opacity: 0;
    transform: translateY(-10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes entryBottom {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes expandUnderline {
  from {
    background-size: 0% 1px;
  }
  to {
    background-size: 100% 1px;
  }
}

/* #endregion */

/* #region Base */
:root {
  --theme-color: #4690cc;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  background: rgb(44, 44, 44);
}

a:any-link {
  color: #60a3da;
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.11);
  border-radius: 15px;
  background-clip: content-box;
  border: 5px solid transparent;
}

/* #endregion */

/* #region Cards */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(44, 44, 44);
  flex-direction: column;
  text-align: center;
}

.card-middle {
  justify-content: center;
}

.card-bottom {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.entrycard {
  position: fixed;
  font-size: 2.5rem;
  animation: disappear 0.5s ease-in-out 1s 1 normal forwards;
  flex-direction: row !important;

  z-index: 10;
}

.entrycard > #hi {
  opacity: 0;
  animation: entryTop 0.5s ease-in-out 0.05s 1 normal forwards;
}

.entrycard > #hi-patrick {
  animation: entryBottom 0.5s ease-in-out 0.4s 1 normal forwards, expandUnderline 0.3s ease-in-out 0.7s 1 normal forwards;
  opacity: 0;

  /* Für die Underline */
  background-image: linear-gradient(white, white);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}
/* #endregion */

/* #region Helper */
.title {
  font-size: 2.5rem;
  font-weight: 500;
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
}

p {
  margin: 0.5rem;
}
/* #endregion */

/* #region Main Card */
.socials,
.scrollDownMain {
  opacity: 0;
  animation: entryBottom 0.5s ease-in-out 1.25s forwards;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  display: inline-block;
  transition: transform 250ms !important;
}

.icon:hover {
  transform: translateY(-5px) rotate(5deg) !important;
}

.discord {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-image: url(/assets/icons/brand-discord.svg);
}

.github {
  background-image: url(/assets/icons/brand-github.svg);
}

.twitter {
  background-image: url(/assets/icons/brand-twitter.svg);
}

.mail {
  background-image: url(/assets/icons/mail.svg);
}

.cog {
  animation: spin 1s linear infinite;
  vertical-align: middle;
  width: 6rem;
}
/* #endregion */

/* #region Projects List */
.projectsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#projekte {
  transform: translateY(0);
}

#projekte.anim > * {
  animation: entryBottom 1.25s;
}

.projectImage {
  vertical-align: middle;
  height: 7rem;
}

.projectsList > div {
  padding-top: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 35rem;
}
/* #endregion */

/* #region Mobile */
@media (max-width: 480px) {
  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .projectsList {
    flex-flow: column wrap;
  }
}
/* #endregion */

/* #region Track List */
#musiclist {
  list-style-type: none;
  margin: 0;
}

.track {
  display: flex;
  padding: 0.4rem;
}
.track > .trackImage {
  height: 128px;
  flex: 1 0 0%;
}
.trackImage > img {
  height: 128px;
  align-self: center;
}
.track > .text {
  margin-left: 1rem;
  flex: 2 0 0%;
  align-self: center;
}
.track > .text > h2 {
  margin: 0;
}
.track > .text > .time {
  color: rgb(179, 179, 179);
}
/* #endregion */