/* #region Animationen */
@keyframes entryTop {
  from {
    opacity: 0;
    transform: translateY(-10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes entryBottom {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes expandUnderline {
  from {
    background-size: 0% 1px;
  }
  to {
    background-size: 100% 1px;
  }
}

@keyframes expandWidth {
  from {
    width: 0%;
  } to {
    width: 100%;
  }
}

/* #endregion */

/* #region Base */
:root {
  --theme-color: #8464c6;
  --theme-bg: #15141b;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: monospace;
  color: var(--theme-color);
  font-size: 1.5rem;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

a:any-link {
  color: var(--theme-color);
  text-decoration: none;
}
/* #endregion */

/* #region Cards */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #15141b;
  flex-direction: column;
  text-align: center;
}

.entrycard {
  position: fixed;
  font-size: 2.5rem;
  animation: disappear 0.7s ease-in-out 1s 1 normal forwards;
  flex-direction: row !important;

  z-index: 10;
}

#hi {
  opacity: 0;
  animation: entryTop 0.5s ease-in-out 0.05s 1 normal forwards;
}

#hi-patrick {
  animation: entryBottom 0.5s ease-in-out 0.4s 1 normal forwards, expandUnderline 0.3s ease-in-out 0.7s 1 normal forwards;
  opacity: 0;
  color: var(--theme-color);

  /* Für die Underline */
  background-image: linear-gradient(white, white);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

#hi-patrick:before {
  content: "patrick";
  position: absolute;
  top: 0;
  left: 0;
  color:white;
  overflow:hidden;
  width: 0%;
  animation: expandWidth 0.3s ease-in-out 0.7s 1 normal forwards;
}
/* #endregion */

/* #region Helper */
.title {
  font-size: 2.5rem;
  font-weight: 500;
}

p {
  margin: 0.5rem;
}
/* #endregion */

/* #region Main Card */
.socials,
.scrollDownMain {
  opacity: 0;
  animation: entryBottom 0.5s ease-in-out 1.25s forwards;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  display: inline-block;
  transition: transform 250ms !important;
}

.icon:hover {
  transform: translateY(-5px) rotate(5deg) !important;
}

.discord {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-image: url(/assets/icons/brand-discord.svg);
}

.github {
  background-image: url(/assets/icons/brand-github.svg);
}

.twitter {
  background-image: url(/assets/icons/brand-twitter.svg);
}

.mail {
  background-image: url(/assets/icons/mail.svg);
}

.bluesky {
  background-image: url(/assets/icons/brand-bluesky.svg);
}

.lastfm {
  background-image: url(/assets/icons/brand-lastfm.svg);
}

.cog {
  animation: spin 1s linear infinite;
  vertical-align: middle;
  width: 6rem;
}

.tooltip:hover::after {
  position: absolute;
  content: attr(title);
  top: 60%;
  left: -100%;
  transform: translateY(50%);
  user-select: text;
  opacity: 1;
}

.tooltip::after {
  content: "";
  opacity: 0;
  transition: 250ms opacity;
}
/* #endregion */

/* #region Player */
#player {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  opacity: 0;
  transition: 250ms opacity;
}
#player.shown {
  display: flex;
  opacity: 1;
}
/* #endregion */